*,
*::before,
*::after
	box-sizing border-box

html
	font-family system-ui, /* macOS 10.11-10.12 */ -apple-system, /* Windows 6+ */ "Segoe UI", /* Android 4+ */ "Roboto", /* Ubuntu 10.10+ */ "Ubuntu", /* Gnome 3+ */ "Cantarell", /* KDE Plasma 5+ */ "Noto Sans", /* fallback */ sans-serif, /* macOS emoji */ "Apple Color Emoji", /* Windows emoji */ "Segoe UI Emoji", /* Windows emoji */ "Segoe UI Symbol", /* Linux emoji */ "Noto Color Emoji"

html,
body
	padding 0
	margin 0
	color var(--fg)
	background-color var(--bg)
	scroll-behavior smooth

/* Headings */
h1,
h2,
h3,
h4,
h5
	margin 0 0 1rem 0
	font-weight 600
	color var(--heading-fg)

/* Typed */
p,
ol,
ul,
dl,
table
	margin 0 0 1.5rem 0
	line-height 1.4

ul
	list-style '–  '

li
	margin-bottom 5px

hr
	margin 0
	border 0
	border-top 1px solid var(--secondary)

/* links */
a
	color var(--link)
	text-decoration none
	border-bottom-style solid
	border-bottom-width 1px

// code & image overflow theme
.overflow-yes
	.block-code, pre.not-code, .block-image
		display: block;
		margin: 30px 0;
		margin-left: 0px;
		width: fit-content;
		margin-left: 50%;
		transform: translateX(-50%);
		min-width: 100%;
		max-width: calc(100vw - calc(var(--padding-right) + var(--padding-left)));
