code,
kbd,
samp,
pre
	font-family /* macOS 10.10+ */ "Menlo", /* Windows 6+ */ "Consolas", /* Android 4+ */ "Roboto Mono", /* Ubuntu 10.10+ */ "Ubuntu Monospace", /* KDE Plasma 5+ */ "Noto Mono", /* KDE Plasma 4+ */ "Oxygen Mono", /* Linux/OpenOffice fallback */ "Liberation Mono", /* fallback */ monospace, /* macOS emoji */ "Apple Color Emoji", /* Windows emoji */ "Segoe UI Emoji", /* Windows emoji */ "Segoe UI Symbol", /* Linux emoji */ "Noto Color Emoji"

blockquote
	margin 3em 0
	padding 10px 0
	border-width 4px 0
	border-style double
	p
		margin 0

/* inline code */
code
	padding 0 5px
	font-size 0.9em
	border 1px solid
	border-radius 5px

pre code
	display block
	padding 10px
	border-radius 0
	color #b2b6bb
	background-color #0a1826

/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */

code[class*="language-"],
pre[class*="language-"] {
//	font-family Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace
	text-align left
	white-space pre
	word-spacing normal
	word-break normal
	word-wrap normal
	line-height 1.5

	-moz-tab-size 4
	-o-tab-size 4
	tab-size 4

	-webkit-hyphens none
	-moz-hyphens none
	-ms-hyphens none
	hyphens none

	border 0
	overflow auto
}

/* Code blocks */
pre[class*="language-"] {
	padding 1em
	margin .5em 0
	overflow auto
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background #2d2d2d
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding .1em
	border-radius .3em
	white-space normal
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color #999
}

.token.punctuation {
	color #ccc
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
	color #e2777a
}

.token.function-name {
	color #6196cc
}

.token.boolean,
.token.number,
.token.function {
	color #f08d49
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
	color #f8c555
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
	color #cc99cd
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
	color #7ec699
}

.token.operator,
.token.entity,
.token.url {
	color #67cdcc
}

.token.important,
.token.bold {
	font-weight bold
}
.token.italic {
	font-style italic
}

.token.entity {
	cursor help
}

.token.inserted {
	color green
}
