:root {
	/* Themes */
	--secondary: #666;

	/* Variables */
	--fg: #333;
	--bg: #fff;

	--heading-fg: #000;
	--link: #0169ec;

	/* Paddings */
	--padding-top: 30px;
	--padding-bottom: 30px;
	--padding-right: 10px;
	--padding-left: 10px;
	--max-width: 620px;

	/* Box shadow */
	--box-shadow: 0 0 0px 3px #bac7d4;
}