code,
kbd,
samp,
pre
	font-family /* macOS 10.10+ */ "Menlo", /* Windows 6+ */ "Consolas", /* Android 4+ */ "Roboto Mono", /* Ubuntu 10.10+ */ "Ubuntu Monospace", /* KDE Plasma 5+ */ "Noto Mono", /* KDE Plasma 4+ */ "Oxygen Mono", /* Linux/OpenOffice fallback */ "Liberation Mono", /* fallback */ monospace, /* macOS emoji */ "Apple Color Emoji", /* Windows emoji */ "Segoe UI Emoji", /* Windows emoji */ "Segoe UI Symbol", /* Linux emoji */ "Noto Color Emoji"

blockquote
	margin 3em 0
	padding 10px 0
	border-width 4px 0
	border-style double
	p
		margin 0

/* inline code */
code
	padding 0 5px
	font-size 0.9em
	border 1px solid
	border-radius 5px

pre:not(.not-code) code
	display block
	padding 10px
	color #b2b6bb
	background-color #0a1826
	border 0

code,
pre
	// font-family Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace
	text-align left
	white-space pre
	word-spacing normal
	word-break normal
	word-wrap normal
	line-height 1.5

	-moz-tab-size 2
	-o-tab-size 2
	tab-size 2

	-webkit-hyphens none
	-moz-hyphens none
	-ms-hyphens none
	hyphens none

	// border 0
	overflow auto
