// button.button, a.button
// 	& {
// 		padding: 5px;
// 		display: flex;
// 		border: 2px solid;
// 		margin: 10px 0;
// 		border-radius: 10px;
// 		background-color: inherit;
// 		color: inherit;
// 		font: inherit;
// 		transition: color .3s;
// 		cursor: pointer;
// 		width: 100%;
// 		text-align: start;
// 		outline: 0;
// 	}
// 	&:hover {
// 		color: var(--link);
// 	}
// 	& span {
// 		margin: auto 0;
// 	}
// 	& .e {
// 		height: 20px;
// 		width: 20px;
// 		margin-left: auto;
// 	}
// 	& .b {
// 		height: 24px;
// 		width: 24px;
// 		margin-right: 10px;
// 	}