/* Lil Footer */
.footer
	&
		color var(--heading-fg)
	
	hr
		padding-bottom 20px
	
	a
		color inherit
	
	a.top
		display inline-block
		margin 10px 0
	
	div
		margin 5px 5rem 5px 0
	
	div a
		border-bottom-width 2px
		font-weight 700
		// font-size 2rem