/* Lil Header */
header
	a
		color inherit
		border-bottom none
		&:hover
			border-bottom 1px solid
	// color #b2b6bb
	// background-color #0a1826
	// & nav
	// 	display flex
	// 	justify-content space-between
	// 	flex-wrap wrap
	// & span
	// 	font-size 1.5em
	// 	margin 5px 5rem 5px 0
	// 	font-weight 600
	// & span a:hover
	// 	color #b2b6bb
	// 	border-bottom 2px solid
	// 	text-decoration none