.image
	img
		max-width 100%
		margin auto
		display flex
		border-radius 6px
		box-sizing content-box
	.text
		margin-top 10px
		color var(--secondary)
		a
			color inherit
			&:hover, &:focus
				color var(--link)