.block-image
	img
		max-width 100%
		margin auto
		display flex
		border-radius 6px
		box-sizing content-box
		// the overflow experiment
		body.overflow-yes &
			max-width unset
	.text
		text-align center
		margin-top 10px
		color var(--secondary)
		a
			color inherit
			&:hover, &:focus
				color var(--link)