.welcome
	// &
	// 	background-color #dcb8fb
	// 	background-image linear-gradient(45deg, #dcb8fb, #ad4ef9)
	@media (prefers-color-scheme: dark)
		background var(--bg) 
	h1
		// font-size 2.5rem
	p.description
		color var(--fg)
		// font-size 1.3rem
	// a
	// 	border-bottom-color currentColor